#segundobanner{

    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titlesegundobanner{
 margin-top: 6vh;
}

#imagenLogobrich{
    width: 15%;
    margin-top: 7vh;
}

#squares{
    display: flex;
    height: 40vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;

}

#square2{
    border: 1px solid #E4811E;
    display: flex;
    height: 40vh;
    width: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
